@font-face {
	src: url(fonts/DancingScript-Regular.ttf);
	font-family: 'dance-400';
}

@font-face {
	src: url(fonts/Livvic-Regular.ttf);
	font-family: 'livic-400';
}

@font-face {
	src: url(fonts/Livvic-Medium.ttf);
	font-family: 'livic-500';
}

@font-face {
	src: url(fonts/Livvic-Bold.ttf);
	font-family: 'livic-700';
}

:root {
	--white: #ffffff;
	--black: #1a1a1a;
	--green: #344C31;
	--yellow: #F7C35F;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	background: none;
	border: none;
	outline: none;
}

/* General */
.container {
	width: 100%;
	max-width: 1370px;
	margin: 0 auto;
	padding: 0 15px;
}

.site-title {
	font-size: 50px;
	font-weight: 700;
}

.subtitle {
	font-size: 20px;
	font-weight: 400;
}

.btn {
	background: var(--yellow);
	color: var(--black);
	padding: 25px 50px;
	border-radius: 20px;
	cursor: pointer;
	font-size: 15px;
	font-family: 'livic-500';
}

.btn:hover {
	background-color: var(--black);
	color: var(--white);
}

/* Header */
.header {
	background: var(--green);
	padding: 0 25px;
}

.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 39px 0;
}

.header .container .logo {
	display: flex;
	text-align: start;
}

.header .container .menu {
	text-align: center;
	display: flex;
	align-items: center;
	gap: 50px;
}

.header .container .menu li {
	font-size: 18px;
	font-family: 'livic-400', sans-serif;
	font-weight: 400;
	color: var(--white);
	opacity: 70%;
	cursor: pointer;
	padding-bottom: 2px;
	transition: 0.2s;
}

.header .container .menu li:hover {
	opacity: 1;
	border-bottom: 1px solid var(--yellow);
}

.header .container .burger {
	display: none;
	font-size: 30px;
	color: var(--yellow);
}

/* hero */
.hero {
	background: url(pic/bg.png) no-repeat center / cover;
	padding: 180px 0 200px;
}

.hero .container .first {
	padding-bottom: 10px;
}

.hero .container .first .subtitle {
	position: relative;
	/* padding-top: 180px; */
	font-size: 25px;
	font-weight: 700;
	font-family: 'livic-700', sans-serif;
	color: var(--white);
}

.hero .container .first .subtitle::after {
	content: '';
	width: 215px;
	height: 30px;
	position: absolute;
	left: 0;
	bottom: -15px;
	background: url(pic/Underline_01.svg) no-repeat center / cover;
}

.hero .container .title {
	display: flex;
}

.hero .container .title .site-title {
	position: relative;
	font-size: 70px;
	font-weight: 700;
	font-family: 'livic-700', sans-serif;
	color: var(--yellow)
}

.hero .container .title .site-title::after {
	content: '';
	position: absolute;
	width: 75px;
	height: 62px;
	top: -25px;
	right: -10px;
	background: url(pic/flower.svg) no-repeat center / cover;
}

.hero .container .title img {
	position: absolute;
	top: 308px;
	left: 601px;
}

.hero .container h2 {
	font-size: 70px;
	font-weight: 700;
	font-family: 'livic-700', sans-serif;
	color: var(--white);
}

.hero .container p {
	font-size: 20px;
	font-weight: 400;
	font-family: 'livic-400', sans-serif;
	max-width: 700px;
	padding: 30px 0 30px;
	color: var(--white);
}

/* introduction */
.introduction {
	background: var(--green);
	position: relative;
	padding: 100px 0;
}

.introduction::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 510px;
	height: 400px;
	z-index: 1;
	background: #263C28;
}

.introduction .container {
	display: flex;
	justify-content: space-between;
}

/* left */
.introduction .container .left {
	position: relative;
	z-index: 2;
	width: 40%;
}

.introduction .container .left img {
	width: 490px;
}

.introduction .container .left .completed {
	display: flex;
	gap: 32px;
	background: #6D8C54;
	border-radius: 10px;
	padding: 32px 35px;
	position: absolute;
	left: 30px;
	bottom: 0;
	margin: -50px auto;
}


.introduction .container .left .completed img {
	width: 100px;
	border-right: 1px solid #ffffff;
	padding-right: 20px;
}

.introduction .container .left .completed .intro h3 {
	font-size: 40px;
	font-weight: 400;
	font-family: 'livic-400', sans-serif;
	color: var(--white);
}

.introduction .container .left .completed .intro p {
	font-size: 16px;
	font-weight: 500;
	font-family: 'livic-500', sans-serif;
}

.introduction .container .left .completed .intro p {
	font-size: 16px;
	font-weight: 500;
	font-family: 'livic-500', sans-serif;
	color: var(--white);
}

/* right */
.introduction .container .right {
	width: 55%;
}

.introduction .container .right h3 {
	color: var(--white);
	font-size: 20px;
	font-weight: 400;
	font-family: 'livic-400', sans-serif;
}

.introduction .container .right h1 {
	max-width: 520px;
	color: var(--white);
	padding: 20px 0 50px;
	font-size: 50px;
	font-weight: 700;
	font-family: 'livic-700', sans-serif;
}

.introduction .container .right h2 {
	color: var(--yellow);
	padding-bottom: 20px;
	font-size: 30px;
	font-weight: 500;
	font-family: 'livic-500', sans-serif;
}

.introduction .container .right p {
	color: var(--white);
	font-size: 18px;
	font-weight: 400;
	font-family: 'livic-400', sans-serif;
	padding-bottom: 50px;
}

.introduction .container .right ul li {
	display: flex;
	justify-content: start;
	align-items: center;
	color: var(--white);
	gap: 15px;
	padding-top: 20px;
}

/* Quality */
.quality {
	background: var(--green);
	padding: 100px 0;
}

.quality .container {
	text-align: center;
	color: var(--white);
}

.quality .container .subtitle {
	border-top: 2px solid var(--yellow);
	padding: 78px 0 20px;
	font-size: 20px;
	font-weight: 400;
	font-family: 'dance-400', sans-serif;
}

.quality .container .wraper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 50px;
	margin-top: 50px;
}

.quality .container .card {
	width: 180px;
	height: 170px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #547d585b;
	border-radius: 10px;
	cursor: pointer;
}

.quality .container .card:hover {
	background: var(--yellow);
	transition: 0.2s;
}

.quality .container .card img {
	padding-bottom: 20px;
}

.quality .container .card p {
	font-size: 20px;
	font-weight: 500;
	font-family: 'livic-500', sans-serif;
}

/* Video */
.video {
	background: url(pic/nature-video.png)no-repeat center / cover;
	padding: 280px 0;
}

.video .container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 150px;
}

.video .container .site-title {
	max-width: 600px;
	color: var(--white);
}

.video .container .play {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.video .container .play img {
	width: 100px;
	cursor: pointer;
}

.video .container .play .subtitle {
	font-size: 30px;
	font-weight: 400;
	font-family: 'dance-400', sans-serif;
	color: var(--yellow);
}

/* picture */
.picture {
	background: var(--green);
	text-align: center;
}

.picture .container {
	border-bottom: 2px solid var(--yellow);
	padding: 100px;
}

.picture .container .subtitle {
	font-size: 20px;
	font-weight: 400;
	font-family: 'livic-400', sans-serif;
	color: var(--white);
}

.picture .container .site-title {
	font-size: 50px;
	font-weight: 700;
	font-family: 'livic-700', sans-serif;
	color: var(--white);
}

.picture .container .wraper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 50px;
	flex-wrap: wrap;
	gap: 30px;
	max-width: 100%;
}

.picture .container .img img {
	border: 2px solid var(--yellow);
	border-radius: 10px;
	cursor: pointer;
	width: 260px;
	/* height: 260px; */
}

.picture .container .img img:hover {
	transform: translateY(-20px);
	transition: 0.3s;
}

.picture .container .btn {
	margin-top: 70px;
}

.picture .container .btn:hover {
	background-color: var(--black);
	color: var(--white);
}

/* reviews */
.reviews {
	text-align: center;
	background: var(--green);
	color: var(--white);
}

.reviews .container {
	padding: 100px;
}

.reviews .container .subtitle {
	font-size: 20px;
	font-weight: 400;
	font-family: 'livic-400', sans-serif;
}

.reviews .container .site-title {
	font-size: 50px;
	font-weight: 700;
	font-family: 'livic-700', sans-serif;
	padding: 20px 0 100px;
}

.reviews .container .avatar {
	gap: 85px;
	text-align: start;
	display: flex;
	justify-content: center;
	align-items: center;
}

.reviews .avatar img {
	width: 350px;
}

.reviews .avatar .text {
	width: 560px;
}

.reviews .avatar .text p {
	font-size: 18px;
	font-weight: 400;
	font-family: 'dance-400', sans-serif;

}

.reviews .avatar .text h3 {
	padding-top: 40px;
}

.reviews .avatar .text h4 {
	opacity: 50%;
}

/* providing */
.providing {
	background: #6D8C54;
}

.providing .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--white);

}

.providing .left img {
	width: 100%;
	/* height: 100%; */
}

.providing .list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
}

.providing .right {
	padding: 40px 110px;
}

.providing .right .subtitle {
	font-size: 20px;
	font-weight: 400;
	font-family: 'livic-400', sans-serif;
}

.providing .right .site-title {
	font-size: 50px;
	font-weight: 700;
	font-family: 'livic-700', sans-serif;
	padding: 20px 0 65px;
}

.providing .list:nth-last-child(1) {
	border-top: 1px solid var(--white);
	padding-top: 20px;
}

.providing .list:nth-last-child(2) {
	padding-bottom: 20px;
}

.providing .list .text {
	align-items: start;
}

/* news */
.news {
	background: #263C28;
	position: relative;
	z-index: -2;
}

.news::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 50%;
	background: var(--green);
}

.news .container {
	padding: 100px 0;
	color: var(--white);
	border-bottom: 2px solid var(--yellow);
}

.news .container .subtitle {
	font-size: 20px;
	font-weight: 400;
	font-family: 'dance-400', sans-serif;
	text-align: center;
}

.news .container .site-title {
	font-size: 50px;
	font-weight: 700;
	font-family: 'livic-700', sans-serif;
	padding: 20px 0 100px;
	text-align: center;

}

.news .container .wraper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
}

.news .container .wraper .card {
	width: 370px;
	border-radius: 10px;
	background: var(--green);
	overflow: hidden;
}

.news .container .wraper .card .img-block p {
	font-size: 15px;
	font-weight: 400;
	font-family: 'livic-400', sans-serif;
	background: var(--yellow);
	color: var(--black);
	padding: 5px 5px 5px 5px;
	border-radius: 8px 0 0 0;
}

.news .container .wraper .card:nth-child(1) .img-block {
	background: url(pic/news-1.png) no-repeat center / cover;
	width: 370px;
	height: 280px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.news .container .wraper .card:nth-child(2) .img-block {
	background: url(pic/news-2.png) no-repeat center / cover;
	width: 370px;
	height: 280px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.news .container .wraper .card:nth-child(3) .img-block {
	background: url(pic/news-3.png) no-repeat center / cover;
	width: 370px;
	height: 280px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.news .container .wraper .card .text {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;
	padding: 20px 0 0 15px;
}

.news .container .wraper .card .text .frame {
	display: flex;
	align-items: center;
	gap: 7px;
}

.news .container .wraper .card .text .frame i {
	color: var(--yellow);
}

.news .container .wraper .card .text .frame h6 {
	font-size: 14px;
	font-weight: 400;
	font-family: 'livic-400', sans-serif;
}

.news .container .wraper .card h4 {
	font-size: 24px;
	font-weight: 700;
	font-family: 'livic-700', sans-serif;
	padding-bottom: 30px;
	padding: 20px 20px 30px;
}

/* contact */
.contact {
	background-color: #263C28;
}

.contact .container .wraper {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	padding: 100px 0;
	gap: 33px;
	color: var(--white);
}


.contact .container .left .subtitle {
	font-size: 20px;
	font-weight: 400;
	font-family: 'dance-400', sans-serif;
}

.contact .container .left .site-title {
	font-size: 50px;
	font-weight: 700;
	font-family: 'livic-700', sans-serif;
	padding: 20px 0 45px;
}

.contact .container .left p {
	font-size: 18px;
	font-weight: 400;
	font-family: 'livic-400', sans-serif;
}

.contact .container .left .phone {
	padding-top: 50px;
}

.contact .container .left .phone h5 {
	font-size: 14px;
	font-weight: 400;
	font-family: 'dance-400', sans-serif;
}

.contact .container .left .email {
	padding: 40px 0;
}

.contact .container .left .email h5 {
	font-size: 14px;
	font-weight: 400;
	font-family: 'dance-400', sans-serif;
}

.contact .container .left .adress h5 {
	font-size: 14px;
	font-weight: 400;
	font-family: 'dance-400', sans-serif;
}

.contact .container .right {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.contact .container .right form input {
	width: 100%;
	background: #6d8c543b;
	padding: 22px 25px;
	border: 0;
	outline: 0;
	border-radius: 15px;
	font-size: 16px;
	font-weight: 400;
	font-family: 'livic-400', sans-serif;
	margin-bottom: 30px;
}

.contact .container .right form textarea {
	flex-grow: 1;
	background: #6d8c543b;
	width: 100%;
	height: 180px;
	padding: 22px 25px;
	border-radius: 15px;
	resize: none;
	border: 0;
	outline: 0;
	margin-bottom: 30px;
}

/* leader */
.leader {
	background: var(--green);
}

.leader .effect {
	background: url(pic/style-leader.png)no-repeat center / cover, linear-gradient(91.96deg, rgba(248, 204, 119, 0.8) 44.78%, rgba(248, 204, 119, 0.16) 104.31%);

}

.leader .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 110px 60px;
}

.leader .container .left {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
}

.leader .container .left img {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border-radius: 50%;
	background: var(--green);
}

.leader .container .left .site-title {
	font-size: 50px;
	font-weight: 400;
	font-family: 'dance-400', sans-serif;
	color: var(--green);
}

/* footer */
.footer {
	background: var(--green);
}

.footer .container {
	padding: 90px 0 130px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	color: var(--white);
	gap: 160px;
}

.footer .container .left {
	width: 640px;
}

.footer .container .left .subtitle {
	font-size: 16px;
	font-weight: 400;
	font-family: 'livic-400', sans-serif;
	padding: 25px 0 34px;
	opacity: 70%;
}

.footer .container .left .socials {
	border-top: 1px solid var(--yellow);
	padding-top: 34px;
}

.footer .container .left .socials i {
	color: var(--yellow);
	font-size: 30px;
	padding-right: 20px;
}

.footer .right {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 100px;
}

.footer .right .links .site-title {
	font-size: 22px;
	font-weight: 500;
	font-family: 'livic-500', sans-serif;
	color: var(--yellow);
}

.footer .right .links {
	width: 161px;
}

.footer .right .links ul li {
	font-size: 15px;
	font-weight: 400;
	font-family: 'livic-400', sans-serif;
	margin-top: 20px;
	cursor: pointer;
}

.footer .right .links ul li:hover {
	color: var(--yellow);
}

.footer .right .newsletter .site-title {
	font-size: 22px;
	font-weight: 500;
	font-family: 'livic-500', sans-serif;
	color: var(--yellow);
}

.footer .right .newsletter .subtitle {
	font-size: 16px;
	font-weight: 400;
	font-family: 'livic-400', sans-serif;
	padding: 24px 0 30px;
}

.footer .right .newsletter form {
	width: 300px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 50px;
	background: #263C28;
}

.footer .right .newsletter form input {
	padding: 20px;
	border: 0;
	outline: 0;
	font-size: 14px;
	font-weight: 400;
	font-family: 'livic-400', sans-serif;
	background: none;
	opacity: 50%;
	color: var(--white);
}

.footer .right .newsletter form .btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px;
	border-radius: 50%;
	margin-right: 5px;
}

/* foot */
.foot {
	background: var(--green);
	border-top: 2px solid var(--yellow);
	font-family: 'dance-400', sans-serif;
	padding: 30px 0 20px;
}

.foot .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--white);
	opacity: 50%;
	cursor: pointer;
}